{
  "presets": ["airbnb"],
  "sourceMaps": "inline",
  "retainLines": true,
  "env": {
    "test": {
      "plugins": [
        "istanbul",
        ["module-resolver", { "root": ["./src/"] }],
        "@babel/plugin-transform-optional-catch-binding"
      ]
    },
    "testCompiled": {
      "plugins": [["module-resolver", { "root": ["./lib/"] }]]
    }
  }
}
